{
  "everdown": {
    "token-sandbox": "actual sandbox token",
    "token": "actual token",
    "location": {
        "google api key": "actual api key",
    },
  },
  },
  "s3": {
    "access-key-id": "actual key id",
    "secret-access-key": "actual access key"
  }
}
