secret:
  everdown: &secret_everdown
    location:
      google-api-key: <actual api key>
    token: <actual token>
    token-sandbox: <actual sanbox token>
  s3: &secret_s3
    access-key-id: <actual access key>
    secret-access-key: <actual secret access>
