// Article pages
#details {
  width: 200px;
  float: right;
  padding: 2rem 0 0 2rem;
  label{
    display: block;
    font-size: 11px;
    color: $gray;
  }
  li{
    font-size: 14px;
    list-style: none;
    padding: 0 0 .5rem;
    &.info{
      padding: 0 0 1.25rem;
    }
  }
  .tags,
  .social{
    float: left;
    width: 100%;
    padding: 2rem 0 0;
  }
  .author{
    font-size: 14px;
  }
}
.entry-content{
  .note div {
    float: left;
    width: 100%;
  }
  img{
    padding: 2rem 0;
  }
}

// Repsonsive styles begin
@media #{$medium} {
  #details{
    width: 100%;
    padding: 2rem 0;
  }
}

@media #{$small} {
  #details{
    width: 100%;
    padding: 2rem 0;
  }
}