// Variables
$gray: #a5b2b9;

// Global elements
*,
*:after,
*:before{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
}
html,
body{
  float: left;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #3f4549;
  font-family: 'Roboto', sans-serif;
  font-smoothing:subpixel-antialiased;
  text-rendering:optimizeLegibility;
  font-smooth:always;
  background: #fff;
}
a{
  color: #3f4549;
}
img{
  max-width: 100%;
  height: auto;
  float: left;
}
#index-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

// Header
#banner{
  float: left;
  width: 100%;
  padding: 2rem 0;
  h1{
    line-height: 1;
    float: left;
    margin: 0;
  }
}
#menu{
  float: right;
  li{
    float: left;
    list-style: none;
    a{
      float: left;
      padding: .408rem 0 .408rem 1rem;
    }
  }
}

// Content
#page-title{
  float: left;
  width: 100%;
}
#content {
  width: 600px;
  float: left;
  line-height: 1.8;
  padding-bottom: 4rem;
}
#sidebar {
  width: 200px;
  float: right;
  padding-left: 2rem;
  li{
    list-style: none;
  }
  .tags,
  .social{
    float: left;
    width: 100%;
    padding: 2rem 0 0;
  }
}

// Footer
footer{
  float: left;
  width: 100%;
  text-align: center;
  padding: 4rem 0;
}