@import "variables";
// Front page
.social li {
  display: inline;
}
#content{
  ol,
  ul{
    list-style: none;
  }
}
article{
  &.hentry{
    float:left;
    width: 100%;
    padding: 0.3rem 1rem 0.3rem 0;
    margin: 0 1rem 2rem 0;
    border-image-source: url("#{$image-path}border-box.png");
    border-image-slice: 8%;
    border-image-width: 20px;
    border-image-outset: 16px;
    border-image-repeat: repeat;
  }
  .teaser-image{
    float: left;
    width: 200px;
    border: 1px solid black
  }
  .teaser-content{
    float: left;
    width: calc(100% - 200px);
    padding: 0 1rem;
    h2{
      margin: 0 0 0.7rem;
      line-height: 1;
    }
    .entry-info{
      float: left;
      clear: both;
      margin: 0 0 1rem;
      line-height: 1.2;
    }
    .entry-content{
      float: left;
      width: 100%;
      margin: 0 0 1rem;
      line-height: 1.5;
    }
    .entry-tags{
      float: left;
      width: 100%;
      ul {
        display: inline;
        li {
          display: inline;
        }
      }
    }
  }
}

.paginator {
  margin: auto;
  display: table;
  .next-button, .prev-button, .page-button, .page-ellipses {
    width: 32px;
    height: 32px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .page-button, .page-ellipses {
    text-decoration: none;
    text-align: center;
  }
  .next-button, .prev-button {
    width: 29px; // 100x91 -> 32x29
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .next-button {
    background-image: url("#{$image-path}r-arrow.png");
  }
  .page-button, .page-ellipses {
    background-image: url("#{$image-path}pager-body.png");
  }
  .prev-button {
    background-image: url("#{$image-path}l-arrow.png");
  }
  .next-button:hover, .next-button.disabled {
    background-image: url("#{$image-path}r-arrow-dark.png");
  }
  .page-button:hover, .page-button.current {
    background-image: url("#{$image-path}pager-body-dark.png");
  }
  .prev-button:hover, .prev-button.disabled {
    background-image: url("#{$image-path}l-arrow-dark.png");
  }
}

// Repsonsive styles begin
@media #{$medium} {
  article .teaser-image {
    width: 100px;
  }
  .teaser-content {
    width: calc(100% - 100px);
  }
}

@media #{$small} {
  article{
    .teaser-image {
      display: none;
    }
    .teaser-content {
      width: 100%;
    }
  }
}
